@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'poppins',sans-serif;
    /* color: #516171; */
   
}
p{
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #516171;
}
/* -----Top Banner----*/

.top-nav{
    background-color: #ff4d29;
    padding-block: 5px;
}

.contact-details p{
    display: inline-block;
    margin-bottom: 0px;
}
.social-icons a{
    width:30px;
    height: 30px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    color:white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.social-icons a:hover{
    background-color: white;
    color: #ff4d29;

}


/* Navigation */

.main-navigation{
    padding-block: 10px;
}
.logo-text{
    font-size: 27px;
    font-weight: 600;
}
.logo-dot{
    color: #ff4d29;
}
.menu-name li{
    margin-left: 18px;
}
.menu-name a{
    color:#092032;

}
.menu-name a:hover{
    color: #ff4d29;

}
.contact-btn{
    background-color: #ff4d29;
    color: white !important;;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 20px;
}
.contact-btn:hover{
    background-color: #b3422c;
    color: white !important;
}
.btn-brand{
    background-color: #ff4d29 ;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
 
 }
 .btn-brand:hover{
     background-color: #ba4f39 ;
    color: white;
 }
 .form-control1{
     max-width:400px;
 }
/*--------- About---- */
.about-text h5{
    color: #092032;
    font-weight: 600;
}

/*----- Milestone----- */

.milestone{
    padding-block: 80px;
    background: linear-gradient(rgba(255, 77, 41, 0.854),rgba(255, 77, 41, 0.822)),url(../images/bg_banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.milestone-info{
    color: white;
}
.milestone-info h1{
    font-weight: 700;
    font-size: 56px;
}


.our-services-info h6{
    color:#ff4d29;
}
.our-services-info h1{
    color: #092032;
    font-weight: 600;
}
.our-services-info p{
   max-width:500px;
   /* width: 500px; */
}

/* OUR SERVICES */

.services{
    padding: 32px;
    background-color: white;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}
.services h5{
   color: #092032;
   font-weight: 600;
   padding-block: 10px;
}


.our-blog-title h6{
    color:#ff4d29;
}
.our-blog-title h1{
    color: #092032;
    font-weight: 600;

}
.our-blog-title p{
    max-width: 500px;
}


/*  */
.our-blog-info{
    background-color: white;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    position: relative;
}
.our-blog-heading{
    position: absolute;
    top:10px;
    left:20px;
    
}
.our-blog-heading p{
    background-color: #ff4d29;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
}
.our-blog-title {
    padding: 32px;
}
.our-blog-title h6{
    color: #ff4d29;
}
.our-blog-title h5{
    color:#092032;
    font-weight: 600;
}

/* ------ */

.team-info h6{
    color: #ff4d29;
}
.team-info h1{
    color: #092032;
    font-weight: 700;
}
.team-info p{
    max-width: 500px;
}
.team-member-info h5{
    padding-top: 10px;
    font-weight: 700;
    color: #092032;
    text-align: center;
}
.team-member-info h6{
    
    text-align: center;
}
.team-image{
    position: relative;
    overflow: hidden;
}
.team-social-icons{
   position: absolute;
   top:50%;
   left:50%;
   transform: translate(-50%,-50%);
   z-index: 2;
   transition: all 0.4s ease;
   opacity: 0;
}
.image-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-10%;
    left:0px;
    background-color: rgba(255, 77, 41, 0.632);
    transition: all 0.4s ease;
    opacity: 0;
}
.team-member-info:hover .image-overlay{
    opacity: 1;
    top:0px;
}
.team-member-info:hover .social-icons{
    opacity: 1;
}
/*  */

.footer{
    background: linear-gradient(rgba(8, 32, 50, 0.9),rgba(8, 32, 50, 0.9)),url(../images/bg_banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 20px;
    
}
.footer-info{
    padding-bottom: 30px;
}
.footer-info p{
    color:#ADB3B9;
    max-width: 600px;
}
.footer-social-icons a{
    width:50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    color:white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    font-size: 22px;
}
.footer-social-icons a:hover{
    background-color: white;
    color: #ff4d29;
}
.subfooter{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.subfooter p {
    padding-top: 15px;
    color: #ADB3B9;
}